.section2{
    position: relative;
    z-index: 80;
    margin-top: 320px;
    padding: 20px 112px!important;
}
.section2 .sec-head{
    text-align: center;
    color: #003B72;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 35px;
}
.section2 .container ul li{
    width: 370px;
    height: 400px;
    margin-left: 23px;
}
.district{
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-top: 350px;
}

.topdestination h1 {
    color: #003B72;
    margin: 10px auto 0 ;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.topdestination img {
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 10px solid #fefae0; 
    transition-duration: 1s;
}

.topdestination img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}

.topdestination .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.top{
margin-top: 80px;
border-top: 12px solid #003B72;
}
.show-dis{
    position: relative;
}
.topdestination .show-dis p{
     position: absolute;
     top:165px;
     left: 75px;
     font-size: 30px;
     -webkit-text-stroke: 2px #fff;
    background-color: transparent;
    z-index: 50;
}
.topdestinationa:hover  p{
    transform: scale(1.4);
    transition-duration: 1.5s;
}